<html>
  <head></head>
  <body>
    <h1>Welcome to Hangman!</h1>
    <form>
      What is your name?: <input type="text" name="name" />
      <input type="submit" value="My name is!" />
    </form>
  </body>
</html>
