<html>
  <head></head>
  <body>
    <h1>Play</h1>
    <p>Your previous guesses were:</p>
    <p> <%= guesses.join(" ") %> </p>
    <form>
      What is your guess?: <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
  </body>
</html>
